body {
    background-image: url('../apichallenge/background1.png');
    background-repeat: no-repeat;
    background-color:white;
    max-width:100%;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-family: 'Graduate', cursive;
    text-align: center;
    color: white;
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    font-size:100pt;
    margin-bottom:0em;
}

form {
    font-family: 'Teko', sans-serif;
    font-size:20pt;
}


.teamsDiv {
    background-color: #353b48;
    color: white;
    border-bottom: solid 1px gray;
    font-family:Arial, Helvetica, sans-serif;
}

.teams {
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 30pt;
    font-family: 'Teko', sans-serif;
    
}

.badge {
display: block;
  margin-left: auto;
  margin-right: auto;
}


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;

    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.6s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:green;
    transition: width 0.6s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: green;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }